<h1>{{title}}</h1>

<div class="inside">
  <h4>{{description}}</h4>

  <div class="box">
    <h2>Example 1:</h2>
    <p>1 book at 12.49</p>
    <p>1 music CD at 14.99</p>
    <p>1 chocolate bar at 0.85</p>
  </div>
  <div class="box">
    <h2>Example 2:</h2>
    <p>1 imported box of chocolates at 10.00</p>
    <p>1 imported bottle of perfume at 47.50</p>
  </div>
  <div class="box">
    <h2>Example 3:</h2>
    <p>1 imported bottle of perfume at 27.99</p>
    <p>1 bottle of perfume at 18.99</p>
    <p>1 packet of headache pills at 9.75</p>
    <p>1 box of imported chocolates at 11.25</p>
  </div>

</div>

<app-add-item></app-add-item>



