h1{
  display: grid;
  justify-content: center;
  align-items: center;
}

.inside{
  padding: 20px;
  border: 4px solid #fff;
  width : 100%;
  margin: 0;
  box-sizing: border-box;
}

.box{
  float: left;
  width: 32%;
  margin-right: 2%;
  padding: 20px;
  background: #eee;
  box-sizing: border-box;
}

.box:last-child{
  margin-right: 0;
}

.bottom{
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}
